name: Release

on:
  workflow_dispatch:
    inputs:
      module:
        description: "Module to release"
        required: true
        type: choice
        options:
          - repository
jobs:
  release:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set correct Node.js version
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "npm"

      - name: Install semantic-release
        run: npm ci

      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Release
        run: npx semantic-release --extends ./.releaserc.base.cjs --tag-format "{{ inputs.module }}@\${version}"
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
